		
<script>

	$(document).ready(function(){
   		$('#setting').modal('hide');
        $('.modal-backdrop').remove();
        $("#information").click();
	});
</script>


<a href="#informationbox" id="information" data-toggle="modal" title="Link to Settings page" class="button_primery_big" data-placement="top" style="display: none">Information Box</a>
<!-- Modal Definitions (information box) -->
<div id="informationbox" class="modal hide fade" data-width="960">
  <div class="modal-body">
    <div class="row">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="alert alert-error informationbox" style="margin-top:25px;"> 
            <h4>Information Box</h4>
            <div class="clearfix margin-15"></div>
            <p>
               <%= flash[:notice] if flash[:notice].present? %> 
            </p> 
            </div>
        </div>
  </div>
  <!-- end model body --> 
</div>
<!-- end model of information box -->