@media(min-width:960px) and (max-width:1024px){


.joiningborder {
	width:410px;
}


#entry-home ul li:first-child {
    margin:0 0 0 0px!important;
}
#entry-home ul li:last-child {
    margin: 0 0 0 286px!important;
}

body {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.companyname {
	display:block;
	clear:both;
	text-align:center;
}


.span5 {
    width: 290px;
}

#entry-home ul li a {
	width: 120px!important;
	height: 120px!important;
}
#entry-home ul >:first-child a span {
	width: 90%!important;
	height: 100%!important;
	line-height:25px!important;
	display:inline-block!important;
}
#entry-home ul li a span {
	width: 90%!important;
	height: 100%!important;
	line-height:25px!important;
	display:inline-block!important;
	padding-top:45px!important;
	font-size:4vh;
}

.alert,
.alert h4 {
	font-size:7vh;
}

.alert h4 {
  	margin: 0;
}
}
 