
<p>
    Hi <%= @resource.first_name %>,<br />
    <br />
    Forgot your password? It&#39;s OK, click on the link and reset your password.<br />
    <br />
    <a href=<%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>><%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></a><br />
    <br />
    Thanks again for being such an important part of the TFP!<br />
    <br />
    Thank You,<br />
    The TFP Support Team</p>
