<div class="span8">
    <div class="row bg_white well">
        <div class="row">
            <h2>Exams & Tests</h2>
        </div>
        <div class="row">
            <div class="span6 position_center">
                <%= link_to "MANAGE EXAMS", exams_path, :class =>"btn_exam_big" %>
                <%= link_to "Tests", tests_path, :class =>"btn_exam_big" %>
                <%= link_to "Questions", questions_path, :class =>"btn_exam_big" %>
            </div>
        </div>
    </div>

    <!--start -->
    <div>
        <div class="row bg_white well">
            <div class="row">
                <label>There are 10 question parts which answers that requre manual marking</label>
            </div>
            <div class="row margin-20">
                <h2><label>Question 1</label></h2>
                <div class="clearfix"></div>
                <div class="span1"></div>
                <div class="span6">
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="span2">
                    <a class="btn_exam_show" href="">Show Details</a><a class="btn_exam_hide " href="">Hide Details</a>
                </div>
                <div class="span4 nav-userdashboard pull-right">
                    <a href="personal-details.html" class="button_primery button_back">Back</a><a href="upload-cv.html" class="button_primery button_next">Next</a>
                </div>
            </div>
            <div class="row">
                <hr style="border-top:1px solid #666;" class="margin-20"/>
                <div class="span1"></div>
                <div class="span6">
                    <span class="margin-20"> <label>Full question text </label> </span>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                    </p>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                    </p>
                    <label>Media associated with this question</label>
                    <hr class="margin-20"/>
                    <div class="row">
                        <div class="span1"><img class="media-object" src="assets/images/icon/icon_pdf.png">
                        </div>
                        <div class="span3">
                            <h3>Joe_Bloggs_CV_June.pdf</h3>
                            <p>
                                Uploaded Monday 10th June 2013
                            </p>
                        </div>
                        <div class="span1">
                            <a class="button_download"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg_white well">
            <div class="row margin-10">
                <label>There are 2 answers to this question which require marking</label>
            </div>
            <div class="row">
                <h2><label>Answer 1</label></h2>
                <div class="clearfix"></div>
                <div class="span1"></div>
                <div class="span6">
                    <div class="row">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        </p>
                    </div>
                    <div class="row">
                        <div class="question_detail">
                            <label>15/7/2012 15:55pm</label>
                            <label>Exam Name</label>
                            <label>Test Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <div class="slider" style="display:inline-block;"></div>
                            <span style="display:inline-block; margin-left:5px;">10/18</span>
                        </div>
                        <div class="span1">
                            <a class="btn_exam pull-right" href="">Mark</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2><label>Answer 2</label></h2>
                <div class="clearfix"></div>
                <div class="span1"></div>
                <div class="span6">
                    <div class="row">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        </p>
                    </div>
                    <div class="row">
                        <div class="question_detail">
                            <label>15/7/2012 15:55pm</label>
                            <label>Exam Name</label>
                            <label>Test Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <div class="slider" style="display:inline-block;"></div>
                            <span style="display:inline-block; margin-left:5px;">10/18</span>
                        </div>
                        <div class="span1">
                            <a class="btn_exam pull-right" href="">Mark</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- end -->
    <div class="clearfix margin-10"></div>
</div>
